{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Main Page</h1>
        <ul>
            <li><a href="/add_user/">Add User</a></li>
            <li><a href="/users_list/">User List</a></li>
        </ul>
    </div>
</body>
</html>
