<!-- myProject/jinja2/templates/base.jinja -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Нет строки для иконки -->
</head>
<body>
    <header>
        <!-- Вставьте содержимое шапки, такое как логотип, меню навигации и т.д. -->
        <h1>My Website</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Блок для контента, который будет наследоваться от других страниц -->
        {% endblock %}
    </main>

    <footer>
        <!-- Вставьте содержимое подвала, такое как контактная информация, копирайт и т.д. -->
        <p>&copy; {{ current_year }} My Website. All rights reserved.</p>
    </footer>
</body>
</html>